<header class="w-full lg:w-2/3 mx-auto">

    {{ if isset .Params "categories" }}

        {{- range .Params.categories }}
          {{- with $.Site.GetPage "taxonomyTerm" (printf "categories/%s" (urlize .)) }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        {{ end }}

		{{ $dateTime := .PublishDate.Format "2006-01-02" }}
		{{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}

		<time class="mt-0" datetime="{{ $dateTime }}">
			{{ .PublishDate.Format $dateFormat }}
		</time>

        <hr class="my-2">

    {{ end }}

	<h1 class="my-0 py-0">
		{{ .Title }}
	</h1>

	{{ if isset .Params "subtitle" }}

	<hr class="my-2">

	<h2 class="h4 my-0 py-0 mb-3 text-orange-600">
		{{ .Params.subtitle }}
	</h2>

	{{ end }}

	<hr class="my-2">

    {{ if not (isset .Params "categories") }}

		{{ $dateTime := .PublishDate.Format "2006-01-02" }}
		{{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}

		<time class="mt-0" datetime="{{ $dateTime }}">
			{{ .PublishDate.Format $dateFormat }}
		</time>

	{{ end }}

</header>