<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">

    {{ partial "head.html" . }}

    <body class="flex flex-col min-h-screen">

        {{- partial "header.html" . -}}

        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}

    </body>

</html>
