{{ define "main" }}

<main class="flex-1 mx-4 md:mx-12 lg:mx-24 mt-2">

    <h1>
        {{ .Title }}
    </h1>

    <hr>
    <br>

    {{ partial "list" . }}

    {{ template "_internal/pagination.html" . }}

</main>
{{ end }}