{{ define "main" }}
<main class="flex-1 mx-4 my-5 md:mx-12 lg:mx-24 sm:my-10">

	<article>

		<div class="flex">

			<header class="w-full lg:w-2/3 mx-auto">

				<h1 class="my-0 py-0 text-center">
					{{ .Title }}
				</h1>

				<hr class="my-2">

			</header>

		</div>

		<div class="flex">

		  	<section class="w-full lg:w-1/2 mx-auto content">

		    	{{ .Content }}

		  	</section>

		</div>

	</article>

</main>
{{ end }}