@font-face {
  font-family: DOS;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Fixedsys500c.eot');
  src: local('☺'), url('fonts/Fixedsys500c.woff') format('woff'), url('fonts/Fixedsys500c.ttf') format('truetype'), url('fonts/Fixedsys500c.svg') format('svg');
}

html {
	font-weight: normal;
	font-stretch: normal;
	line-height: normal;
	@apply outline-none text-sm bg-black text-white;
}

a {
	@apply text-yellow-500;
}

hr {
	@apply bg-black border-dotted border-b-2 border-pink-500;
}

::-moz-selection {
  color: #ffffff;
  background: theme('colors.gray.900');
}

::selection {
  color: #ffffff;
  background: theme('colors.gray.900');
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.blue.500') theme('colors.black');
}

*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: theme('colors.black');
}
*::-webkit-scrollbar-thumb {
  background-color: theme('colors.black');
  border-radius: 20px;
  border: 3px solid theme('colors.blue.500');
}

p {
	@apply py-3;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  	@apply leading-tight text-orange-400 text-base py-4;
}

h1, .h1 {
  	@apply text-orange-400 text-3xl;
}

h2, .h2 {
  	@apply text-orange-400 text-2xl;
}

h3, .h3 {
  	@apply text-orange-400 text-xl;
}

h4, .h4 {
  	@apply text-orange-400 text-lg;
}

h5, .h5 {
  	@apply text-orange-400 text-base;
}

h6, .h6 {
  	@apply text-orange-400 text-sm;
}

strong {
	@apply text-orange-600 font-bold;
}

blockquote {
	@apply border p-6 my-3;
}

ul {
	@apply list-disc py-3 ml-6;
}

ol {
	@apply list-decimal py-3 ml-6;
}

code {
	@apply bg-gray-200 text-gray-600 border py-1 px-2;
}

pre {
	@apply bg-gray-200 border shadow p-3 my-3;
}

pre code {
	border: 0px;
	@apply bg-transparent;
}

table {
	@apply shadow table-auto my-3;
}

th {
	@apply border px-4 py-2;
}

td {
	@apply border px-4 py-2;
}

@screen sm {

	html {
		@apply text-base;
	}

	h1, .h1 {
	  	@apply text-5xl;
	}

	h2, .h2 {
	  	@apply text-4xl;
	}

	h3, .h3 {
	  	@apply text-3xl;
	}

	h4, .h4 {
	  	@apply text-2xl;
	}

	h5, .h5 {
	  	@apply text-xl;
	}

	h6, .h6 {
	  	@apply text-lg;
	}

}

.pagination {
	@apply flex justify-center mt-12 list-none;
}

.page-item {
	@apply mx-1;
}

.page-item.active > .page-link {
	@apply text-indigo-800;
}

.progress {
	background: linear-gradient(to right, theme('colors.pink.500') var(--scroll), transparent 0);
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
	height: 4px;
	z-index: 1;
}