{{ define "main" }}
<div class="progress"></div>

<main class="flex-1 mx-4 my-5 md:mx-12 lg:mx-24 sm:my-10">

	<article>

		<div class="flex">

		{{ partial "single/header" . }}

		</div>

		{{ partial "single/cover" . }}

		<div class="flex">

		  	<section class="w-full lg:w-1/2 mx-auto content">

		    	{{ .Content }}

				{{ with .Params.tags }}

				<hr class="mt-6 mb-5">

					{{ range . }}

						{{ $href := print (absURL "tags/") (urlize .) }}
					    <a href="{{ $href }}" class="h6 mr-4">
						    #{{ . }}
					    </a>

					{{ end }}

				{{ end }}

				<hr class="mt-3">

		  	</section>

		</div>

	</article>

</main>
{{ end }}