<header class="w-full lg:px-8 bg-gray-700 border-dotted border-b-2 border-blue-300">

    <nav class="block sm:flex items-center justify-between flex-wrap">

        <ul>

            {{ if .Site.IsMultiLingual }}
                {{ range .Site.Languages }}
                {{ if eq . $.Site.Language }}
                <li class="bg-gray-900 hover:bg-gray-800 hover:font-bold inline-flex border-dotted border-blue-200 hover:border-blue-300 border-r-2 border-b-2 p-2 mr-2">{{ .LanguageName }}</span>
                  {{ end }}
                  {{ end }}
                    {{ range $.Translations }}
                    <li class="bg-gray-900 hover:bg-gray-800 hover:font-bold inline-flex border-dotted border-blue-200 hover:border-blue-300 border-r-2 border-b-2 p-2 mr-8"><a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                    {{ end }}
                </li>
            {{ end }}

            {{ with .Site.GetPage "/" }}
            <li class="bg-gray-900 hover:bg-gray-800 hover:font-bold inline-flex border-dotted border-blue-200 hover:border-blue-300 border-r-2 border-b-2 p-2">
                <a href="{{ .Permalink }}" class="mx-2">{{ .Title }}</a>
            </li>
            {{ end }}

            {{ with .Site.GetPage "/about" }}
            <li class="bg-gray-900 hover:bg-gray-800 hover:font-bold inline-flex border-dotted border-blue-200 hover:border-blue-300 border-r-2 border-b-2 p-2">
                <a href="{{ .Permalink }}" class="mx-2">{{ .Title }}</a>
            </li>
            {{ end }}

        </ul>

        <ul>

            <li class="inline-flex">

                {{ with .Site.Params.linkedin }}

                    <a class="bg-gray-900 hover:bg-gray-800 hover:font-bold inline-flex border-dotted border-blue-200 hover:border-blue-300 border-r-2 border-b-2 p-2 mr-4" href="{{ . }}" target="blank">

                        LinkedIn

                    </a>

                {{ end }}

                {{ with .Site.Params.github }}

                    <a class="bg-gray-900 hover:bg-gray-800 hover:font-bold inline-flex border-dotted border-blue-200 hover:border-blue-300 border-r-2 border-b-2 p-2 mr-4" href="{{ . }}" target="blank">

                        Github

                    </a>

                {{ end }}

                {{ with .Site.Params.gitlab }}

                    <a class="bg-gray-900 hover:bg-gray-800 hover:font-bold inline-flex border-dotted border-blue-200 hover:border-blue-300 border-r-2 border-b-2 p-2 mr-4" href="{{ . }}" target="blank">

                        Gitlab

                    </a>

                {{ end }}

                {{ with .Site.Params.email }}

                    <a class="bg-gray-900 hover:bg-gray-800 hover:font-bold inline-flex border-dotted border-blue-200 hover:border-blue-300 border-r-2 border-b-2 p-2" href="mailto:{{ . }}" target="blank">

                        Email

                    </a>

                {{ end }}

            </li>

        </ul>

    </nav>

</header>