<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

{{ range .Paginator.Pages }}

    <article class="border-dotted border-b-2 border-pink-500 bg-black">

        <a href="{{ .Permalink }}">

            {{ if isset .Params "cover" }}

            <div class="bg-gray-400">

                {{ with .Params.cover }}

                <img loading="lazy"  class="object-cover w-full h-48" src="{{ . | absURL }}" alt="">

                {{ end }}

            </div>

            {{ end }}

            <div class="p-4">

                <h3 class="h4 my-0 py-0 mb-3 text-white">{{ .Title }}</h3>

                {{ if isset .Params "categories" }}

                    {{- range .Params.categories }}
                      {{- with $.Site.GetPage "taxonomyTerm" (printf "categories/%s" (urlize .)) }}
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                      {{ end }}
                    {{ end }}

                {{ end }}

                {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                {{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}
                <time class="text-gray-500" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>

            </div>

        </a>

    </article>

{{ end }}

</div>